page-temp {
  .card-md
  {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-shadow:none;
  }
  .relateduser
  {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .item-input .label-md
  {
    color: black;
  }
  .list-header-md
  {
    margin-bottom:0;
  }
  .item-select .label-md, .item-datetime .label-md
  {
    color: black;
  }

}
