page-home {
  .babyinfor
  {
    background-color: rgba(213, 233, 255, 0.38);
  }
  .statement
  {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    border-bottom: lightgray solid 0.5px;
  }
  .chart-title
  {
    margin-top: 20px;
    font-weight: lighter;
    text-align: center;
    font-size: large;
    background-color: #fff5f6;
  }

}
