page-about {
  .selectmenu
  {
    background-color: #f687bb;

    margin-right: 10px;
    margin-left: 10px;

  }
  .segment-md .segment-button {
    color: white;
    font-size: larger;
    font-weight: bolder;
  }
  .card-md
  {
    margin-top: 0;
  }
  .card-header-md
  {
    color: #4c4c4c;
    font-size: 1.8rem;
  }

}
